name: Upstream issue notifier
on:
  push:
    branches:
      - master
jobs:
  upstream-issues:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ZStriker19/upstream-issue-notifier@0932a135bb9cee7ec47f22f1a6f97f00de882cbf
        env:
          GITHUB_TOKEN: ${{ github.token }}
