name: Upstream issue notifier
on:
  push:
    branches:
      - master
jobs:
  upstream-issues:
    runs-on: ubuntu-latest
    steps:
      - name: upstream-issue-notifier
        uses: Kyle-Verhoog/upstream-issue-notifier@v0.0.0
