name: Upstream issue notifier
on:
  push:
    branches:
      - master
jobs:
  upstream-issues:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ZStriker19/upstream-issue-notifier@65895a264bba9ca5f9d704786ba61384b3ac50fe
