name: Upstream issue notifier
on:
  push:
    branches:
      - master
jobs:
  upstream-issues:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: Kyle-Verhoog/upstream-issue-notifier@v0.0.4
